<h1>Users#show</h1>
<div>
  <%= render 'users/show', user: @user %>
  <%= render 'user_relationships/follow_button', user: @user %>
</div>
<div>
  <%= render 'reviews/index', review: @reviews %>
</div>