<h1>プレビュー投稿</h1>
<div class="new-comment">
  <%= form_with(model:[@match, @preview], url: match_previews_path, local: true) do |f| %>
    <%= f.text_area :comment, size: "70x10",placeholder: "1000文字以内でご入力ください" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>