// Place all the styles related to the Timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.col-4{
  padding-bottom: 10px;
}

.explain p{
  font-size: 8px;
  color: gray;
}

.review-box {
  padding: 10px 5px;
}
.match-card {
  font-size: 4px;
}