<h1>Reviews#edit</h1>
<p>Find me in app/views/reviews/edit.html.erb</p>
<h1>Reviews#new</h1>
<div class="new-comment">
  <%= form_with(model:[@match, @review], url: match_reviews_path, local: true) do |f| %>
    <%= f.text_area :comment, size: "70x10",placeholder: "1000文字以内でご入力ください" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<p>削除ボタン必要</p>