<h1>Reviews#show</h1>
<p>上部に試合情報</p>

          <div id="review_fav_buttons_<%= @review.id %>">
             <%= render partial: 'review_favorites/review_fav', locals: { review: @review} %>
          </div>
